include README.md
include LICENSE
include pyproject.toml
include CHANGELOG.md

include src/pydecomp/pydecomp.cpp

recursive-include src/external/pybind11/include *.h
recursive-include src/external/DecompUtil/include *.h

include docs/*.png
include docs/logo/*.png
